@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEB MANTIMENTO</h1>
    <p class="lead">Ta Faltando o Quê?</p>
    <p><a href="/mantimento/index" class="btn btn-primary btn-lg">Listar Produtos&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantimentos</h2>
        <p>
            <img src="~/Imagens/mantimento-1.jpg" width="300" height="200" />
        </p>
        <p><a class="btn btn-default" href="mantimento/cadastro">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repor</h2>
        <p><img src="~/Imagens/mantimento-2.jpg" width="300" height="200" /></p>
        <p><a class="btn btn-default" href="/mantimento/index">Learn more &raquo;</a></p>
    </div>
    


</div>
